INDY_NETWORK_NAME={{ NETNAME }}
INDY_NODE_NAME={{ item.fullname }}

SOCK=/var/run/docker.sock
NODE_CONTAINER_NAME={{ item.fullname }}

INDY_NODE_IP=0.0.0.0
INDY_NODE_PORT=9701
INDY_CLIENT_IP=0.0.0.0
INDY_CLIENT_PORT=9702